<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/images/favicon.png">
    <title>Assignment</title>
        {% load staticfiles%}
    <link rel="stylesheet" type="text/css" href="{% static 'webpages/teacher_form/assets/libs/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'webpages/teacher_form/assets/libs/jquery-minicolors/jquery.minicolors.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'webpages/teacher_form/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'webpages/teacher_form/assets/libs/quill/dist/quill.snow.css' %}">
    <link href="{% static 'webpages/teacher_form/dist/css/style.min.css' %}" rel="stylesheet">
</head>

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper">
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                    <a class="navbar-brand">
                        <b class="logo-icon p-l-10">
                        </b>
                        <span class="logo-text">
                            <h3>Student Gateway</h3>
                        </span>
                    </a>
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
                </div>
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <ul class="navbar-nav float-left mr-auto">
                        <li class="nav-item d-none d-md-block"><a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar"><i class="mdi mdi-menu font-24"></i></a></li>
                    </ul>
                    <ul class="navbar-nav float-right">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../../assets/images/users/1.jpg" alt="user" class="rounded-circle" width="31"></a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated">
                                <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-power-off m-r-5 m-l-5"></i> Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="left-sidebar" data-sidebarbg="skin5">
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="p-t-30">
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'teacher_home' %}" aria-expanded="false"><i class="mdi mdi-border-inside"></i><span class="hide-menu">Tables</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">Forms </span></a>
                            <ul aria-expanded="false" class="collapse  first-level">
                                <li class="sidebar-item"><a href="{% url 'add_assignment' %}" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> Form Basic </span></a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <div class="page-wrapper">
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Assignment Form</h4>
                        <div class="ml-auto text-right">
                            <nav aria-label="breadcrumb">
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <form class="form-horizontal" method="POST">
                                <div class="card-body">
                                    <div class="form-group row">
                                        <label class="col-sm-3 text-right control-label col-form-label">Assignment Title : </label>
                                        <div class="col-sm-8">
                                            <input type="text" name="title" class="form-control" id="fname" placeholder="Title Here">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label  class="col-sm-3 text-right control-label col-form-label">Assignment Body : </label>
                                        <div class="col-sm-8">
                                            <textarea name="body" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <label " class="col-sm-3 text-right control-label col-form-label">Submission Date : </label>
                                        <div class="col-sm-8">
                                            <input type="text" name="submission_date" class="form-control" id="fname" placeholder="Date">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label " class="col-sm-3 text-right control-label col-form-label">Submission Date : </label>
                                        <div class="col-sm-4">
                                            <input type="checkbox" name="class[]" style="margin-right: 15px;">CSE 1<br>
                                            <input type="checkbox" name="class[]" style="margin-right: 15px;">CSE 2<br>
                                            <input type="checkbox" name="class[]" style="margin-right: 15px;">CSE 3<br>
                                            <input type="checkbox" name="class[]" style="margin-right: 15px;">CSE 4<br>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="cono1" class="col-sm-3 text-right control-label col-form-label">Extra Note</label>
                                        <div class="col-sm-8">
                                            <textarea name="extra" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <input type="submit" class="btn btn-primary"></input>
                                </div>
                            </form>
                        </div>

                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'webpages/teacher_form/assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'webpages/teacher_form/assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'webpages/teacher_form/assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'webpages/teacher_form/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %}"></script>
    <script src="{% static 'webpages/teacher_form/assets/extra-libs/sparkline/sparkline.js' %}"></script>
    <script src="{% static 'webpages/teacher_form/dist/js/waves.js' %}"></script>
    <script src="{% static 'webpages/teacher_form/dist/js/sidebarmenu.js' %}"></script>
    <script src="{% static 'webpages/teacher_form/dist/js/custom.min.js' %}"></script>
    <script src="{% static 'webpages/teacher_form/assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js' %}"></script>
    <script src="{% static 'webpages/teacher_form/dist/js/pages/mask/mask.init.js' %}"></script>
    <script src="{% static 'webpages/teacher_form/assets/libs/select2/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'webpages/teacher_form/assets/libs/select2/dist/js/select2.min.js' %}"></script>
    <script src="{% static 'webpages/teacher_form/assets/libs/jquery-asColor/dist/jquery-asColor.min.js' %}"></script>
    <script src="{% static 'webpages/teacher_form/assets/libs/jquery-asGradient/dist/jquery-asGradient.js' %}"></script>
    <script src="{% static 'webpages/teacher_form/assets/libs/jquery-asColorPicker/dist/jquery-asColorPicker.min.js' %}"></script>
    <script src="{% static 'webpages/teacher_form/assets/libs/jquery-minicolors/jquery.minicolors.min.js' %}"></script>
    <script src="{% static 'webpages/teacher_form/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'webpages/teacher_form/assets/libs/quill/dist/quill.min.js' %}"></script>
    <script>
        $(".select2").select2();

        $('.demo').each(function() {
        $(this).minicolors({
                control: $(this).attr('data-control') || 'hue',
                position: $(this).attr('data-position') || 'bottom left',

                change: function(value, opacity) {
                    if (!value) return;
                    if (opacity) value += ', ' + opacity;
                    if (typeof console === 'object') {
                        console.log(value);
                    }
                },
                theme: 'bootstrap'
            });

        });
        jQuery('.mydatepicker').datepicker();
        jQuery('#datepicker-autoclose').datepicker({
            autoclose: true,
            todayHighlight: true
        });
        var quill = new Quill('#editor', {
            theme: 'snow'
        });

    </script>
</body>

</html>