<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up | Student Gateway</title>{% load staticfiles%}
    <link rel="stylesheet" type="text/css" href="{% static 'webpages/signup_style/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'webpages/signup_style/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'webpages/signup_style/css/iofrm-style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'webpages/signup_style/css/iofrm-theme15.css' %}">
</head>
<body>
    <div class="form-body" class="container-fluid">
        <div class="website-logo">
            <a href="index.html">
                <div class="logo">
                    <img class="logo-size" src="images/logo-light.svg" alt="">
                </div>
            </a>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">
                    <h3>Student Gateway</h3>
                    <p>A Place Where You can Submit Your Assignment To teachers on time.</p>
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content form-sm">
                    <div class="form-items">
                        <h3 class="form-title">Sign Up | Teacher</h3>
                        <form>
                            <div class="form-group">
                                <label>Personal Information</label>
                                <input type="text" class="form-control" name="fullname" placeholder="Full Name" required>
                                <input type="text" class="form-control" name="username" placeholder="User Name" required>
                                <input type="email" class="form-control" name="email" placeholder="E-mail Address" required>
                            </div>
                            <div class="form-group">
                                <label>Class</label>
                                <div class="custom-options" >
                                    <input type="checkbox" id="rad1" name="rad"><label for="rad1">CSE 1</label>
                                    <input type="checkbox" id="rad2" name="rad"><label for="rad2">CSE 2</label>
                                    <input type="checkbox" id="rad3" name="rad"><label for="rad3">CSE 3</label>
                                    <input type="checkbox" id="rad4" name="rad"><label for="rad4">CSE 4</label>
                                </div>
                                <label>Subject</label>
                                <div class="custom-options" >
                                    <input type="radio" id="rad5" name="rad"><label for="rad5">DS</label>
                                    <input type="radio" id="rad6" name="rad"><label for="rad6">MPI</label>
                                    <input type="radio" id="rad7" name="rad"><label for="rad7">COA</label>
                                    <input type="radio" id="rad8" name="rad"><label for="rad8">ICT</label>
                                    <input type="radio" id="rad9" name="rad"><label for="rad9">ICT</label>
                                </div>
                                <div class="form-row" style="padding-top: 10px;">
                                    <div class="col">
                                        <input type="password" name="password" class="form-control" placeholder="Password" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-button text-right">
                                    <button type="button" class="btn btn-light">Cancel</button><button id="submit" type="submit" class="ibtn">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'webpages/signup_style/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'webpages/signup_style/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'webpages/signup_style/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'webpages/signup_style/js/main.js' %}"></script>
</body>

</html>
