<!DOCTYPE html>
<html dir="ltr" lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/images/favicon.png">
    <title>Teacher Section | SG</title>
    {% load staticfiles%}
    <link rel="stylesheet" type="text/css" href="{% static 'webpages/teacher_form/assets/extra-libs/multicheck/multicheck.css' %}">
    <link href="{% static 'webpages/teacher_form/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css' %}" rel="stylesheet">
    <link href="{% static 'webpages/teacher_form/dist/css/style.min.css' %}" rel="stylesheet">

</head>

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper">
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">

                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>

                    <a class="navbar-brand">

                        <b class="logo-icon p-l-10">
                        </b>

                        <span class="logo-text">
                            <h3 style="color: white;">Student Gateway</h3>
                        </span>
                    </a>
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
                </div>
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">

                    <ul class="navbar-nav float-left mr-auto">
                        <a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar">
                    </ul>


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src=" {% static 'webpages/teacher_form/assets/1.jpg' %}" alt="user" class="rounded-circle" width="31"></a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated">

                                <a class="dropdown-item" href="{% url 'logout' %}" style="font-size: 18px;">Logout</a>

                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <aside class="left-sidebar" data-sidebarbg="skin5">
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="p-t-30">
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'teacher_home' %}" aria-expanded="false"><span class="hide-menu">Current Status</span></a></li>

                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'add_assignment' %}" aria-expanded="false"><span class="hide-menu">Create Assignment</span></a></li>

                    </ul>
                </nav>

            </div>

        </aside>
        <div class="page-wrapper">
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Tables</h4>
                        <div class="ml-auto text-right">
                        </div>
                    </div>
                </div>
            </div>



            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title m-b-0">CSE 2</h5>

                            </div>
                            <table class="table">
                                  <thead>
                                    <tr>

                                      <th scope="col">Assignment Title</th>
                                      <th scope="col">Student Name</th>
                                      <th scope="col">Submissions Date</th>
                                      <th scope="col">Palgiarism</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for item in ass_submitted_list %}
                                    {% if item.s_class == "CSE 2" %}
                                    <tr>
                                      <td>{{item.ass_title}}</a></td>
                                      <td><a href="/teacher/view_assignment/{{item.pk}}">{{item.s_name}}</a></td>
                                      <td>{{item.submit_date}}</td>
                                      <td>{{item.plag_ratio}}</td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                  </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title m-b-0">CSE 3</h5>

                            </div>
                            <table class="table">
                                  <thead>
                                    <tr>

                                      <th scope="col">Assignment Title</th>
                                      <th scope="col">Student Name</th>
                                      <th scope="col">Submissions Date</th>
                                      <th scope="col">Palgiarism</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for item in ass_submitted_list %}
                                    {% if item.s_class == "CSE 3" %}

                                         <tr>
                                      <td>{{item.ass_title}}</a></td>
                                      <td><a href="/teacher/view_assignment/{{item.pk}}">{{item.s_name}}</a></td>
                                      <td>{{item.submit_date}}</td>
                                      <td>{{item.plag_ratio}}</td>
                                    </tr>




                                    {% endif %}
                                    {% endfor %}
                                  </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title m-b-0">CSE 4</h5>

                            </div>
                            <table class="table">
                                  <thead>
                                    <tr>

                                      <th scope="col">Assignment Title</th>
                                      <th scope="col">Student Name</th>
                                      <th scope="col">Submissions Date</th>
                                      <th scope="col">Palgiarism</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for item in ass_submitted_list %}
                                    {% if item.s_class == "CSE 4" %}
                                    <tr>
                                      <td>{{item.ass_title}}</a></td>
                                      <td><a href="/teacher/view_assignment/{{item.pk}}">{{item.s_name}}</a></td>
                                      <td>{{item.submit_date}}</td>
                                      <td>{{item.plag_ratio}}</td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                  </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="{% static 'webpages/teacher_form/assets/libs/jquery/dist/jquery.min.js' %}"></script>

    <script src="{% static 'webpages/teacher_form/assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'webpages/teacher_form/assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'webpages/teacher_form/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %}"></script>
    <script src="{% static 'webpages/teacher_form/assets/extra-libs/sparkline/sparkline.js' %}"></script>

    <script src="{% static 'webpages/teacher_form/dist/js/waves.js' %}"></script>

    <script src="{% static 'webpages/teacher_form/dist/js/sidebarmenu.js' %}"></script>

    <script src="{% static 'webpages/teacher_form/dist/js/custom.min.js' %}"></script>

    <script src="{% static 'webpages/teacher_form/assets/extra-libs/multicheck/datatable-checkbox-init.js' %}"></script>
    <script src="{% static 'webpages/teacher_form/assets/extra-libs/multicheck/jquery.multicheck.js' %}"></script>
    <script src="{% static 'webpages/teacher_form/assets/extra-libs/DataTables/datatables.min.js' %}"></script>
    <script>

        $('#zero_config').DataTable();
    </script>

</body>


</html>