<!DOCTYPE HTML>
<html>
   <head>
      <title>Assignment</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
         {% load staticfiles%}
      <link rel="stylesheet" href="{% static 'webpages/write_style/assets/css/main.css' %}" />
   </head>
   <body>
      <section id="banner">
         <div class="inner split">
            <section>
               <p style="margin-bottom: 0px;">Assignment Title : </p>
               <h2>{{ass_title}}</h2>
                  <p style="margin-bottom: 0px;margin-top: 22px;">Submission Date: <span>{{submit_date}}</span></p>

            </section>

            <section>
               <p>Student Name &nbsp&nbsp&nbsp&nbsp: &nbsp<span>{{s_name}}</span> </p>
               <p>Plagiarism Ratio :  <span>{{plag_ratio}}</span></p>
            </ul>
            </section>
         </div>
      </section>
         <br><br>
         <form method="post" style="padding: 50px 10px; padding-left: 80px;padding-right: 80px;">
         <div style="left: 50%">
            {{content|safe}}
         </div>
      </form>
         <input type="hidden" value="{{o.ass_title}}" name = "post_title" />
         </form>

         <script src="{% static 'webpages/write_style/assets/js/jquery.min.js' %}"></script>
         <script src="{% static 'webpages/write_style/assets/js/skel.min.js' %}"></script>
         <script src="{% static 'webpages/write_style/assets/js/util.js' %}"></script>
         <script src="{% static 'webpages/write_style/assets/js/main.js' %}"></script>
         <script src="{% static 'webpages/tinymce/js/tinymce/tinymce.min.js' %}"></script>
         <script src="{% static 'webpages/tinymce/js/tinymce/custom.js' %}"></script>

   </body>
</html>
